<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Builder the page!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('asset/css/toastr.min.css') }}">
            <link rel="stylesheet" href="{{ asset('asset/css/grapes.min.css') }}">
            <link rel="stylesheet" href="{{ asset('asset/css/grapesjs-preset-webpage.min.css') }}">
            <link rel="stylesheet" href="{{ asset('asset/css/tooltip.css') }}">
            <link rel="stylesheet" href="{{ asset('asset/css/grapesjs-plugin-filestack.css') }}">
            <link rel="stylesheet" href="{{ asset('asset/css/demos.css') }}">
            <link rel="stylesheet" href="{{ asset('asset/css/grapick.min.css') }}">
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('asset/js/jquery.min.js') }}"></script>
            <script src="{{ asset('asset/js/toastr.min.js') }}"></script>
            <script src="{{ asset('asset/js/grapes.min.js') }}"></script>
            <script src="{{ asset('asset/js/grapesjs-preset-webpage.min.js') }}"></script>
            <script src="{{ asset('asset/js/grapesjs-lory-slider.min.js') }}"></script>
            <script src="{{ asset('asset/js/grapesjs-tabs.min.js') }}"></script>
            <script src="{{ asset('asset/js/grapesjs-custom-code.min.js') }}"></script>
            <script src="{{ asset('asset/js/grapesjs-touch.min.js') }}"></script>
            <script src="{{ asset('asset/js/grapesjs-parser-postcss.min.js') }}"></script>
            <script src="{{ asset('asset/js/grapesjs-tooltip.min.js') }}"></script>
            <script src="{{ asset('asset/js/grapesjs-tui-image-editor.min.js') }}"></script>
            <script src="{{ asset('asset/js/grapesjs-typed.min.js') }}"></script>
            <script src="{{ asset('asset/js/grapesjs-style-bg.min.js') }}"></script>
            <script src="{{ asset('asset/js/grapesjs-plugin-iframe.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('asset/js/react.production.min.js') }}"></script>
        <script src="{{ asset('asset/js/react-dom.production.min.js') }}"></script>
        <script src="{{ asset('asset/js/react-components/test-button-component.js') }}"></script>
        <script src="{{ asset('asset/js/init.js') }}"></script>
        <script src="{{ asset('asset/js/react-components/test-button.js') }}"></script>
    </body>
</html>
